* {
    box-sizing: border-box;
}

.header{
    background-color: rgb(42, 42, 42);
    height: 100%;
    display: flex;
    text-align: center;
}

.header-text{
    color: rgb(158, 158, 158);
    position: relative;
    font-family: sans-serif;
    margin-left: 5%;
}

h1{
    font-family: sans-serif;
    font-weight: 100;
}

.submit-header{
    display: flex;
    margin-left: 20%;
    flex-direction: column;
}

.submit{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submit-bar{
    margin-left:5%;
    width: 50%;
    border: 1px solid;
    border-color: rgb(186, 185, 185);
    border-radius: 3px;
    padding: 10px
}

.submit-button{
    margin-left: 4%;
    padding: 10px 40px 10px 10px;
    width: 45px;
    color: white;
    background-color: rgb(0, 96, 164);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

ul li{
    position: relative;
    margin-left:20%;
    width: 55%;
    border: 1px solid rgb(186, 185, 185);
    border-radius: 3px;
    padding: 15px;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li.checked {
    text-decoration: line-through;
}

.close{
    position: absolute;
    cursor: pointer;
    right: 2%;
}

.checkbox{
    position: absolute;
    cursor: pointer;
    left: -5%;
}